.sign {
    background-color: none;
    margin: 95px 0 20px;
    width: 100%;
    font-weight: 500;
}

.sign-wrapper {
    display: flex;
    padding: 14px 0;
    justify-content: flex-end;
    align-items: center;
}

.sign__list {
    display: flex;
}

.sign__item {
    margin-left: 20px;
    background-color: var(--container2-color);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--text-color);
    box-shadow: inset 2px 2px 4px #bec3c9,
                  inset -3px -3px 6px #ffffff;   
}

.id {
    color: var(--status1-color);
}

.id li {
    display: flex;
}

@media screen and (max-width: 576px) {
  .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 60px 0 10px;
    padding: 0;
    font-size: 12px;
  }

  .sign-wrapper {
    margin-left: 0;
  }
}