.contact .section {
    margin: 0;
}
.contact_container {
    width: 450px;
    border-radius: 16px;
    padding: 30px;
    background-color: var(--container-color);
  box-shadow: 3px 3px 6px #bec3c9,
                  -3px -3px 6px #ffffff;
}

.contact__title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.contact__form {
    width: 100%;
}

.contact__form-div {
    position: relative;
    margin-bottom: var(--mb-1);
    height: 4rem;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: var(--container2-color);
    color: var(--text-color);
    outline: none;
    border-radius: 8px;
    padding: 1.5rem;
    z-index: 1 ;
    box-shadow: inset 3px 3px 6px #bec3c9,
                inset -3px -3px 6px #ffffff;
}

.contact__form-tag {
    display: none;
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
    color: var(--main-color);
}
.contact__form-area {
    height: 11rem;
}

.contact__form-area textarea {
    resize: none;
}

.button {
    border-radius: 8px;
    background-color: var(--second-color);
    color: var(--main-color);
    box-shadow: 2px 2px 4px #bec3c9,
                -3px -3px 6px #ffffff;
}

.button i {
    color: var(--main-color);
    margin-left: 8px;
}

.button:hover {
    background-color: var(--second-color);
    box-shadow: rgba(50, 50, 50, 0.2) 3px 3px 6px 0px inset, rgba(72, 72, 72, 0.2) -3px -3px 6px -5px inset;
}

@media screen and (max-width: 992px) {
    .contact__container {
        column-gap: 3rem;
        padding: 30px 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .contact__container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .contact__info {
        justify-content: center;
    }
    .contact__form {
        margin: 0 auto;
    }
  }
  @media screen and (max-width: 576px) {
    .contact__info {
        grid-template-columns: 1fr;
        padding: 0rem;
    }

    .contact__form {
        width: 100%;
        padding: 1rem;
    }
  }
  @media screen and (max-width: 350px) {
    .contact__info {
        justify-content: center;
        padding: 1rem;
    }
    .contact__form {
        padding: 1rem;
    }
  }

