.register-container {
  display: grid;
  grid-template-columns: 420px 534px;
  position: relative;
}

.signUp_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
  z-index: 100;
  color: var(--container-color);
  height: 100%;
  margin: 20px;
}

.signUp_text h1 {
  color: var(--container-color);
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.signUp_text p{
  font-size: 12px;
  font-weight: 400;
}

.signIn-text {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.register-left {
  flex: 1;
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.register-left h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.register-left h2 {
  font-size: 28px;
  margin-top: 420px;
}

.signin-text {
  margin-top: auto;
}

.register-form {
  display: flex;
  flex: 1;
  padding: 40px;
  flex-direction: column;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.password-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.register-form input, select {
  width: 100%;
}

.upload-image-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.upload-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.submit_button {
  margin-top: 30px;
}

.link_to {
  margin-left: 5px;
  color: var(--status1-color);
}
@media screen and (max-width: 1080px) {
  .register-left {
    display: none;
  }
}